@using NewsAggregator.Core
@model CreateSourceModel
@{
    ViewData["Title"] = "Добавить ресурс";
}

<div>
    <h1>@ViewData["Title"]</h1>
    
     <form asp-controller="Source" asp-action="Create" method="post" >
         <div class="mb-3">
             <label for="name" class="form-label">Название</label>
             <input asp-for="Name" type="email" class="form-control" id="name" required>
         </div>
         <div class="mb-3">
             <label for="url" class="form-label">Url</label>
             <input asp-for="Url" class="form-control" id="url">
         </div>
         <div class="mb-3">
             <label for="sourceType" class="form-label">Тип ресурса</label>
             <select asp-for="SourceType" asp-items="Html.GetEnumSelectList<SourceType>()" id="sourceType">
             </select>
         </div>

         <input type="submit" class="btn btn-primary" value="Подтвердить">
    </form>   
</div>