@model UserDataModel?

@{
    Layout = null;
}
@if (Model == null)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Вход
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="Login" asp-controller="Account">Вход</a></li>
            <li><a class="dropdown-item" asp-action="Register" asp-controller="Account">Зарегистрироваться</a></li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="GetUserData" asp-controller="Account">Добро пожаловать - @Model.Email</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Выйти</a>
    </li>
}
